NODE_ENV=test
ELASTIC_URL="http://localhost:9200"
ELASTIC_USER="elastic"
FAUCET_TOKENS=5
FAUCET_ETH=1
FAUCET_TIMESPAN=
KEEPER_URI=
PARITY_URI=
SECRETSTORE_URI=
SECRETSTORE_THRESHOLD=
ACCOUNT_PWD=
ADDRESS=
