name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - name: Install dependencies
      run: |
        npm i
        npm install -g npm
        npm install -g ganache-cli@~6.9.1
    - name: Start ganache
      run: |
        MNEMONIC='loyal strategy script uniform weasel charge battle jazz earth smile crunch benefit easy census proud pair action debris flush train cloud federal moment motion'
        ganache-cli -d -m "$MNEMONIC" --port 8545 > ganache-cli.log &
    - name: Start elasticsearch
      run: |
        docker run -e MAX_MAP_COUNT="64000" -e discovery.type="single-node" -e ES_JAVA_OPTS="-Xms512m -Xmx512m" -d --name elasticsearch -p 9200:9200 elasticsearch:6.8.3
    - name: Run integration tests
      env:
        ELASTIC_URL: "http://localhost:9200"
        ELASTIC_INDEX: "faucetdb"
      run: |
        sleep 20
        npm run coverage
        npm run build
    - name: Print logs
      if: ${{ always() }}
      run: cat ganache-cli.log
