name: Build

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - name: Install dependencies
      run: |
        npm i
        npm install -g npm
        npm install -g ganache-cli@~6.9.1
    - name: Run tools (network)
      run: |
        docker login -u ${{ secrets.NEVERMINED_DOCKER_USERNAME }} -p ${{ secrets.NEVERMINED_DOCKER_TOKEN}}
        MNEMONIC='loyal strategy script uniform weasel charge battle jazz earth smile crunch benefit easy census proud pair action debris flush train cloud federal moment motion'
        ganache-cli -d -m "$MNEMONIC" --port 18545 > ganache-cli.log &
        git clone https://github.com/nevermined-io/tools
        cd tools        
        rm -rf "${HOME}/.nevermined/nevermined-contracts/artifacts"
        bash ./start_nevermined.sh --no-marketplace --no-metadata --no-gateway --no-faucet --latest 2>&1 > start_nevermined.log &
        cd ..
    - name: Run integration tests
      env:
        ELASTIC_URL: "http://localhost:9200"
        ELASTIC_INDEX: "faucetdb"
      run: |
        ./scripts/wait-nevermined.sh
        npm run coverage
        npm run build
    - name: Print logs
      if: ${{ always() }}
      run: cat tools/start_nevermined.log
